@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@font-face{
    font-family: 'Amsterdam';
    src:url('https://www.fontspace.com/amsterdam-font-f29770')
}
*{
    box-sizing:border-box;
    margin:0px;
    text-align:center;
}

main {
    width: 90%;
}

/*will change to one column if window is too small to support*/
@media all and (max-width: 1000px) {
    main {flex-direction:column;}
    .inner-container2, .coding-languages, .inner-container1 h2{
        display:none;
    }
    .container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    h1{
        font-size: 18px;
    }
    p {
        font-size:15px;
    }
    .inner-container1{
        width:100%;
        padding:10px;
    }
    .inner-container12, .inner-container13, .inner-container14{
        height:auto;
        flex:1;
    }
    #contact-btn{
        margin:10px;
        padding:10px
    }
    .types{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width:100%;
        height:auto;
        margin-bottom:40px;
        padding:0px;
    }
}

.main-landing{
    background: url(https://www.pitt.edu/sites/default/files/styles/tier_one_hero/public/2021-07/mission-t1-cl-top-aerial.jpg?h=2c66ef4f&itok=YlGwAwOr);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.main-landing-container {
    background-color: rgba(216, 227, 243, 0.75);
    display:block;
    justify-content: center;
    align-items: flex-end;
    margin: 10px 10px 10px 80px;
    width: 40%;
    height: auto;
    border-radius: 16px;
    padding: 10px 30px;
    text-align:center;
    
}
#contact-btn{
    margin:0px;
}
.main-landing-container p {
    font-size: 20px;
    color: black;
}

h1, h2, h3{
    font-family: "poppins",sans-serif;
}

h1 {
    font-size: 38px;
    color: blue;
}


.header {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px;
    background: white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    z-index: 100;
}
/* ------ The Navigation Code ------*/
.navbar a {
    position:relative;
    font-size: 22px;
    color:#333;
    font-weight: 500;
    text-decoration:none;
    margin-left: 40px;
}
.navbar a::before {
    content: '';
    position: absolute;
    top:100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color:skyblue;
    transition: 0.3s;
}
.navbar a:hover::before {
    width: 100%;
}
.navbar a:active {
    color:skyblue;
    transition: 0.3s all ease-in;
}
/* ------ main content ------*/
body {
    margin: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
/* ------ holds the content ------*/
.container {
    display:flex;
    flex-wrap:nowrap;
    overflow-x:auto;
    scrollbar-width:none;
    -ms-overflow-style: none;
    justify-content: flex-start;
    margin-top: 50px;
}
.container::-webkit-scrollbar {
    display:none;
}

.inner-container12, .inner-container13, .inner-container14 {
    width: calc(33.33% -20px); 
    flex:1;
    margin: 0px 10px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
section{
    display:flex;
    margin:10px;
    overflow:hidden;
}
/* ------general formatting for the sections ------*/
.about-me{
    display:block;
    margin-top: 20px;
    height: 500px;
    padding: 20px;
    margin-bottom: 140px;  
}
/* ------ for the about-me section: the container itself, text/header element formatting ------*/
.inner-container1 {
    width: 70%;
    padding: 20px;
    font-size: 30px;
}
.inner-container2{
    width:30%;
}
.inner-container1 p, h2 {
    padding: 10px;   
}
p {
    font-size: 26px;
}
.inner-container1 h2 {
    font-size: 60px;
}
.profile-picture {
    border-radius: 50%;
    padding: 20px;
    margin-top: 30px;
    width: 270px;
    height: 270px;
}
/*marquee formatting additional*/
.coding-languages img {
    margin-right: 50px; /*spaces out the different coding icons in the marquee*/
}
/*------ hackathon section!!! ------*/
.hackathons {
    height: auto;
    margin-bottom: 140px;
}

/*pitt challenge formatting*/
.inner-container3 {
    max-width: 50%;
    padding: 20px;
    height: auto;
    margin: 0 20px;
    font-size: 30px;   
}
/* ------ bullet point formatting: pitt challenge section ------*/
.inner-container3 li{
    font-size:25px;
    text-align:left;
    list-style: square;
    margin-left: 0;
    padding-left: 0;
}
.pgh-title {
    padding: 10px 0px;
}
.pgh-title p{
    font-size: 18px;
}
.text {
    margin: 10px;
    font-size: 20px;
    padding: 20px 10px 10px 10px;
    text-align: left;
}
/* ------ harvard hacks ------*/
.inner-container4{
    width: 50%;
    padding: 20px;
    font-size: 30px;
    height: auto;
    margin:20px;
}
.hvd-title {
    padding: 10px 0px;
    
}
.hvd-title p{
    font-size: 18px;
    font-style:italic;
}
/* ------ pitt challenge ------*/
.pgh-title {
    padding: 10px 0px;
}
.pgh-title p{
    font-style: italic;
    font-size: 18px;
}
.text {
    margin: 10px;
    font-size: 18px;
    padding: 20px;
}
.clubs {
    margin-bottom: 100px;
    padding: 20px;   
}
/* ------ formatting for the dividers -------*/
.title-bar {
    margin-top: 15px;
    color: black;
    border-bottom: 1px solid black;
}
.title-bar h2 {
    font-size: 45px;
}
/* ------ section titles ------*/
.hackathons-title, .clubs-title, .projects-title {
    font-size: 36px;
    margin-bottom: 0px;
}
/* ------ Project Containers ------ */
.inner-container8, .inner-container9 {
    width: 50%;
    font-size: 30px; 
    height: auto;
    margin: 0px 20px;
} 
.inner-container8 p, .inner-container9 p{
    font-size: 30px;
}
/* ------ picture of project created ------*/
.preview {
    margin: 0px 20px;
}
.preview img {
    width: 100%;
}

/* ------ Button formatting ------ */
.button {
    background-color:#003594;
    color:whitesmoke;
    font-size: 24px;
    padding: 15px 50px;
    border-radius: 8px;
    text-align:center;
    display:inline-block;
    margin: 20px 10px;
    text-decoration:none;
}

.button:hover {
    transition: all 0.5s;
   padding: 15px 65px;
}

.main-landing-container > .button:hover{
    padding: 15px 50px;
    background-color:#FFB81C;
    transition: all 0.5s;   
}

.button.live-preview {
    background-color:rgb(0, 172, 240);
    color:whitesmoke;
}
.hobbies {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.duolingo , .codedex, .discord{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}

#duolingo-btn {
    background-color: #58cc02;
    color: #FFFFFF;
    padding: 13px 7px 3px 7px;
}
#duolingo-btn:hover {
    background-color: #89e219;
    transition: all 0.5s;
    padding: 15px 45px;
}

#codedex-btn {
    padding: 7px 15px;
    background-color: rgba(15, 21, 36, 0.75);
}

#codedex-btn:hover {
    transition: all 0.5s;
    padding: 15px 45px;
}
#discord-btn {
    background-color: #7289da;
    padding: 15px;
}
#discord-btn:hover {
    transition: all 0.5s;
    padding: 25px 45px;
}

/*for the projects directory section!!!*/

.types {
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content: space-around;
    flex:0.33%;
    width: 90%;
    height:900px;
    margin-bottom: 50px;
    padding: 10px;
}



.python-title > h2, .front-title >h2, .java-title>h2 {
    font-size: 32px;
    text-decoration:underline;
}

.front-title, .python-title , .java-title{
    padding: 10px;
    margin: 0px 10px 15px 10px;
}

.front-image >img , .py-image >img , .java-image > img {
    margin: 20px;
    padding: 10px;
}

#front-btn:hover, #py-button:hover, #java-button:hover {
    padding: 15px 30px;
}
#front-btn, #py-button, #java-button{
    padding: 15px 30px;
}
#front-btn {
    background-color: red;
}

#front-btn:hover {
    background-color: rgb(252, 252, 28);
    transition: all 1 ease-in-out;
    color: black;
}

#py-button:hover {
    background-color:rgb(0, 172, 240);
    transition: all 1 ease-in-out;
}

#java-button {
    background-color:orange;
}

#java-button:hover{
    background-color: blue;
    transition: all 1 ease-in-out;
}

.inner-container12 p, .inner-container13 p, .inner-container14 p {
    font-size: 28px;
    text-align:center;
    padding: 10px;
    margin: 10px;
}